/* Widths
- Mobile: 375px
- Desktop: 1440px */


/* ===============
    Global Variables 
================== */

:root{

    /* Fonts */
    --ff-primary: "Outfit", sans-serif;
    --ff-accent: "Young Serif", serif;

    /* Font Weights */
    --fw-sarif-normal: 400;  /* young serif */

    --fw-sans-normal: 400;  /* outfit */
    --fw-sans-medium: 600;
    --fw-sans-bold: 700;

    /* Font Size */     /* 1rem = 16px */
    --fs-400: 1rem; 

    /* Primary Colors */
    --clr-prime: hsl(14, 45%, 36%);          /* Nutmeg */
    --clr-prime-accent: hsl(332, 51%, 32%);  /* Dark Raspberry */

    /* Neutral Colors */
    --clr-neutral-900: hsl(24, 5%, 18%);      /* Dark Charcoal */      
    --clr-neutral-700: hsl(30, 10%, 34%);     /* Wenge Brown */
    --clr-neutral-400: hsl(30, 18%, 87%);     /* Light Grey */
    --clr-neutral-300: hsl(30, 54%, 90%);     /* Eggshell */
    --clr-neutral-200: hsl(330, 100%, 98%);   /* Rose White */
    --clr-neutral-100: hsl(0, 0%, 100%);      /* White */

}

/* ===============
    CSS Reset
================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* ===============
    Global  Styles
================== */

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-sans-normal);
    color: var(--clr-neutral-900);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
    border-radius: .8rem;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* ===============
    Layouts  
================== */

main {
    min-width: 1440px;
    background-color: var(--clr-neutral-300);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 123px; placeholder for alignment delete */
}

.wrapper {
    max-width: 735px;
    background-color: var(--clr-neutral-100);
    border-radius: 1.4rem;
    margin: 7.6rem 0;
    padding: 1.6rem 2.5rem 0;
}

.grid_layout {

    display: grid;
    grid-auto-flow: row;
    gap: 1em;
}


.intro_image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1rem;
    /* margin-bottom: 1.8rem; */
}

.intro_description {
    padding-top: 1.95rem;
}

h1 {
    font-family: var(--ff-accent);
    font-weight: var(--fw-sarif-normal);
    font-size: 2.5em;

}

.recipe_overview {
    padding-top: .8rem;
}



.prep_title{
    color: var(--clr-prime-accent);
}








/* ===============
    Frontend Mentor Attribution 
================== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}