
/* ===============
    Global Variables 
================== */

:root{

    /* Fonts */
    --ff-primary: "Outfit", sans-serif;
    --ff-accent: "Young Serif", serif;

    /* Font Weights */
    --fw-sarif-normal: 400;  /* young serif */

    --fw-sans-normal: 400;  /* outfit */
    --fw-sans-medium: 600;
    --fw-sans-bold: 700;

    /* Font Size */     /* 1rem = 16px */
    --fs-400: 1rem; 

    /* Primary Colors */
    --clr-prime: hsl(332, 51%, 32%);  /* Dark Raspberry */
    --clr-prime-accent: hsl(14, 45%, 36%);          /* Nutmeg */
    

    /* Neutral Colors */
    --clr-neutral-900: hsl(24, 5%, 18%);      /* Stone */      
    --clr-neutral-600: hsl(30, 10%, 34%);     /* Stone */
    --clr-neutral-150: hsl(30, 18%, 87%);     /* Stone */
    --clr-neutral-100: hsl(30, 54%, 90%);     /* Stone */
    --clr-neutral-50: hsl(330, 100%, 98%);   /* Rose */
    --clr-neutral-0: hsl(0, 0%, 100%);      /* White */

}

/* ===============
    CSS Reset
================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* ===============
    Global  Styles
================== */

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-accent);
    font-size: var(--fs-400);
    font-weight: var(--fw-sans-normal);
    line-height: 150%;
    letter-spacing: 0;
    color: var(--clr-neutral-600);
    -webkit-font-smoothing: antialiased;
    
}

img {
    display: block;
    border-radius: 12px;
    width: 100%;
}

ul, ol {
    display: grid;
    grid-auto-flow: row;
    gap: .5em;
}

li {
    list-style-position: inside;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: var(--clr-neutral-150);
}
/* ===============
    Global  Typography classes
================== */

.text-preset-1 {
    font-family: var(--ff-accent);
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--clr-neutral-900);
}
.text-preset-2 {
    font-family: var(--ff-accent);
    font-size: 1.75rem;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--clr-prime-accent);
}
.text-preset-3 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-sans-medium);
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--clr-prime);
}
.text-preset-4-bold {
    font-family: var(--ff-primary);
    font-weight: var(--fw-sans-bold);
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0;
}


/* ===============
    Layouts  
================== */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-neutral-100);
}

.wrapper {
    max-width: 1600px;
    background-color: var(--clr-neutral-0);
    padding: 128px 48px;
}

.grid_layout {

    display: grid;
    grid-auto-flow: row;
    gap: 2.5em;
    padding: 2.5em;
}
.content {
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
}

/* ===================================================== */

.prep {
    background-color: var(--clr-neutral-50);
    border-radius: 12px;
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
}



.gap-2 {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5em;
}









/* ===============
    Frontend Mentor Attribution 
================== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}